.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #16161683;
}

.profile{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
}

.button_auth{
  background-color: #2749b6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}